@import 'nib'
@import 'fonts'

@import 'main'

.edit-note
	display none
	fixed top 0 left 0 bottom 0 right 0
	background-color rgba(0, 0, 0, .1)

	&.m-show
		display block

	&__form
		max-width 600px
		margin-left: auto
		margin-right: auto


	&__title
		display block
		width 100%
		margin-bottom 10px

	&__text
		display block
		width 100%
		margin-bottom 10px

.note-list
	&__item
		clearfix()
		margin-bottom 10px

		&:hover
			background-color lightblue
