extends blocks/layout.jade

block content
	.l-container
		h1.l-h1 LiveTex notes
		ul.note-list

	.edit-note
		form.edit-note__form.l-container
			h2.l-h2 Edit note
			input.edit-note__title(type="text")
			textarea.edit-note__text(name="", cols="30", rows="10")
			button.edit-note__submit Save
			button.edit-note__cancel Cancel
			button.edit-note__remove Remove
